@import 'tailwindcss';


/* 
grid background : #F3F3F7
dark : grid background : #141519


grid lines color : #D1D6DB
grid lines color dark : bg-[#D1D6DB]/35
grid lines width : 0.5px

day number colors : black 
dark day number colors : white
day number font size : 12px
day number font weight : 700

day name colors : bg-black/50 
dark day name colors : bg-white/50
day name font size : 10px
day number font weight : 400

hour text color : text-black/50
dark hour text color : text-white/50
day text font size : 10px
day text font weight : 400

weekend day color : bg-red-400/50
dark weekend day color : bg-[#FAE1E5]/50

day container width :56px 



*/